/* ==================================================
  General
  ================================================== */

@import url('https://fonts.googleapis.com/css?family=Roboto:300');

body {
    background: #f4f4f4;
    /* background: #f8f9fa; */
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

a {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

a:hover {
    text-decoration: none !important;
  }

h1, h2, h3, h4, h5 {
    font-weight: 300;
}

/* ==================================================
  Elements
  ================================================== */

.main-color-bg {
    background-color: #0099cc !important;
    border-color: #027196 !important;
    color: white !important;
}

.text-main {
    color: #0099cc !important;
}
  
.bg-main {
    background: #0099cc !important;
}

.bg-trans {
    background: transparent !important;
}

.btn {
  font-weight: 300;
}

.btn-main {
    background-color: #0099cc !important;
    color: white !important;
}

.btn-main:hover {
    background-color: #027196 !important;
    border-color: #027196 !important;
    color: white !important;
}

.btn-hero {
    background-color: #0099cc;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 900;
    color: #fff;
    padding: 15px 45px;
    border-radius: 50px;
}
  
.btn-hero:hover {
    background-color: #e74c3c;
    color: #fff;
}
  
.btn-hero:focus {
    color: #fff;
}

.card-home {
    position: relative;
    padding: 0;
    border: 0;
    border-radius: 0;
    margin: 0;
    overflow: hidden;
}

.scrolltop {
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #0099cc;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.scrolltop:hover, .scrolltop:active, .scrolltop:focus {
    color: #fff !important;
    opacity: .75;
}

.navbar {
    padding: 10px 50px;
}

/* Main navbar */
#navbar {
    border-bottom: 5px solid #037ea7;
}

#navbar .nav-link {
    color: white;
    margin-top: 2px;
    border-bottom: 2px solid #0099cc;
}

#navbar .nav-link:hover {
    margin-top: 2px;
    border-bottom: 2px solid white;
}

#navbar .nav-link-login:hover {
    margin-top: 2px;
    border-bottom: 2px solid #0099cc;
    cursor: default !important;
}

/* Sticky Navbar */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1;
  }
  
  .sticky + .services {
    padding-top: 158px;
  }

/* Form controls */

.form-control::-webkit-input-placeholder { font-weight: 300 !important;}  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { font-weight: 300 !important;}  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { font-weight: 300 !important;}  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { font-weight: 300 !important;}  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { font-weight: 300 !important;}  /* Microsoft Edge */

input, textarea, select {font-weight: 300 !important;}

/* Footer truck */

#footer-truck {
    -webkit-animation-duration: 1800s;
    -moz-animation-duration:1800;
    -ms-transition-animation-duration: 1800s;
    padding-left:10px;
    margin-top: -19px;
    margin-bottom: -5px;
    opacity: .5;
}

.hide-me {
    display: none;
}

/* ==================================================
  Calendar
  ================================================== */

#calendar {
    max-width: 800px;
    min-width: 375px;
    margin: 0 auto;
}

.hoverEffect {
    font-size: 29px;
    position: absolute;
    margin: 30px 55px;
    cursor: pointer;
}

#calendar td.fc-header-center {
    text-align: right !important;
}

#calendar table.fc-header {
    font-size: 13px !important;
}


/* ==================================================
  Custom Modals
  ================================================== */

.modal {
    background-color: rgb(63,78,100, 0.9);
}

.modal-body, .modal-content {
    background: transparent !important;
    color: white !important;
    border: 0;
}

.modal-btn {
    background-color: #303f53 !important;
    color: white !important;
}

.modal-btn:hover {
    background-color: #0099cc !important;
}

.modal-price {
    background-color: rgb(0,0,0, .65);
}

.close-price {
    color: white;
    font-size: 36px;
}

/* ==================================================
  Main > Hero
================================================== */
.hero {
    display: table;
    position: relative;
    background-image: url(/img/cover.jpg);
    background-size: cover;
    padding: 150px 0;
    color: #fff;
    width: 100%;
    height: 100vh;
}
  
  .hero:after {
    content: '';
    z-index: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
  
  .hero .container {
    position: relative;
    z-index: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
  
  .hero-brand {
    margin-bottom: 75px;
    display: inline-block;
}
  
  .hero-brand:hover {
    opacity: .75;
}
  
  .tagline {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-size: 26px;
    margin: 45px 0 75px 0;
    color: #fff;
}

/* ==================================================
  Main > Services & Benefits
  ================================================== */
.services {
    padding: 85px 0;
}

.services h2 {
    color: #0099cc;
    margin-bottom: 30px;
}

.card-service {
    height: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    cursor: pointer;
}

.services img {
    -webkit-filter: grayscale(50%); /* Safari 6.0 - 9.0 */
    filter: grayscale(50%);
    transition-duration: 2s;
}

.services img:hover {
    -webkit-filter: grayscale(1%); /* Safari 6.0 - 9.0 */
    filter: grayscale(1%);
    transition-duration: 0.75s;
}

/* ==================================================
  Main > About 
  ================================================== */

.about-us {
    padding: 50px 0;
}

.about-us h2 {
    margin-bottom: 25px;
}

.about-us h2,
.about-us p {
    color: #fff;
}

.about-us p {
    color: #fff;
    margin-bottom: 15px;
    opacity: .9;
}

.about-us .btn-ghost {
    position: relative;
    top: 13px;
}

.about-us .darken {
    background-image: url(../img/about-our-company.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
}

.about-us .intro {
    opacity: .9;
    padding: 75px;
}

/* ==================================================
  Main > Problems
  ================================================== */

.problem {
    padding: 50px 0;
}

.problem h2 {
    margin-bottom: 25px;
}

.problem h2,
.problem p {
    color: #fff;
}

.problem p {
    color: #fff;
    margin-bottom: 15px;
    opacity: .9;
}

.problem .btn-ghost {
  border: 3px solid #fff;
  background-color: transparent;
  position: relative;
  top: 13px;
}

.problem .btn-ghost:hover {
  background-color: #fff;
  color: #555;
}

.problem .darken {
    background-image: url(../img/we-solve-problems.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    margin: 0;
}

.problem .intro {
    opacity: .9;
    padding: 75px;
}

/* ==================================================
  Main > Team
  ================================================== */
.team {
    padding: 50px 0;
}

.team h2 {
    color: #0099cc;
    margin-bottom: 25px;
}

.team-grid {
    margin-top: 65px;
}

.team-grid .row {
    margin: 0;
}

.team-grid .row > div {
    padding: 0;
}

.team-grid .row > div .card img {
    width: 100%;
}

.team-grid .row > div .card .team-over {
    position: absolute;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.team-grid .row > div .card .team-over > div {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.team-grid .row > div .card .team-over .card-title {
    color: #fff;
    font-size: 30px;
}

.team-grid .row > div .card .team-over .card-text {
    color: #fff;
    opacity: .75;
    padding: 0 45px;
}

.team-grid .row > div .card:hover .team-over {
    opacity: 1;
    visibility: visible;
}

/* ==================================================
Main > Call-to-action
================================================== */
.cta {
    margin: 50px 0 0 0;
    padding: 85px 0;
    background-image: url(../img/car-repair.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.cta h2 {
    margin-bottom: 25px;
}

.cta h2,
.cta p {
    color: #fff;
}

.cta p {
    opacity: .9;
}

.cta .btn-ghost {
    border: 3px solid #fff;
    background-color: transparent;
    position: relative;
    top: 13px;
}

.cta .btn-ghost:hover {
    background-color: #fff;
    color: #2e3337;
}

/* ==================================================
Main > Testimonials
================================================== */

.testimonials {
    padding: 50px 0;
}

.testimonials h2 {
    color: #0099cc;
    margin-bottom: 25px;
}

.col-center {
    margin: 0 auto;
    float: none !important;
}
.carousel {
    margin: 50px auto;
    padding: 0 70px;
}
.carousel .item {
    color: #999;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
    width: 135px;
    height: 135px;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 50%;
}
.carousel .img-box img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 50%;
}
.carousel .testimonial {
    padding: 30px 0 10px;
}
.carousel .overview {	
    font-style: italic;
}
.carousel .overview b {
    text-transform: uppercase;
    color: #0099cc;
}
.carousel .carousel-control {
    width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
    background: none;
}
.carousel-control i {
    font-size: 68px;
    line-height: 42px;
    position: absolute;
    display: inline-block;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
    bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
    width: 10px;
    height: 10px;
    margin: 1px 3px;
    border-radius: 50%;
}
.carousel-indicators li {
    background: #999;
    border-color: transparent;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
    background: #555;
    box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/* ==================================================
  Main > Map
  ================================================== */

#map {
    height: 500px;
    width: 100%;
}

/* ==================================================
  Main > Contact
  ================================================== */

#contact {
    background: #f7f7f7;
    padding: 80px 0;
}

#contact h2 {
    font-family: "Roboto", sans-serif;
    color: #0099cc;
    padding-bottom: 25px;
}

#contact .info i {
    font-size: 32px;
    color: #0099cc;
    display: inline;
}

#contact .info p {
    padding: 0 0 10px 50px;
    line-height: 24px;
}

/* ==================================================
  Main > Footer
  ================================================== */
.site-footer {
    background-color: #111;
    padding: 0;
}

.site-footer h2, .site-footer p {
    color: #fff;
}

.site-footer p {
    opacity: .75;
    line-height: 2.0925;
}

.site-footer h2,
.site-footer .btn {
    margin-bottom: 25px;
}

.site-footer .social-nav a {
    color: #fff;
    opacity: .25;
}

.site-footer .social-nav a:hover {
    opacity: 1;
}

.site-footer .bottom {
    background-color: #161c27;
    padding: 20px 0;
}

.site-footer .bottom .list-inline, .site-footer .bottom p {
    margin: 0;
}

.site-footer .bottom .list-inline {
    position: relative;
    top: 5px;
}

.site-footer .bottom .list-inline a {
    color: #fff;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    margin-right: 15px;
}

.site-footer .bottom .list-inline a:hover {
    color: #0099cc;
}

.site-footer .credits {
    color: #ddd;
}

.site-footer .credits a {
    color: #0099cc;
}

/* ==================================================
Admin / Customers > Header
================================================== */

#header {
    background: #1c2331;
    color: white;
    padding-bottom: 10px;
    margin-bottom: 15px;
    padding-top: 20px;
}

#header .create {
    padding-top: 5px;
}

/* ==================================================
  Admin / Customers > Breadcrumb
  ================================================== */

.breadcrumb {
    background-color: #e2e2e2;
}

/* ==================================================
  Admin / Customers > White Modal Close
  ================================================== */

.close-white {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .75;
}

.close-white:hover, .close-white:focus {
    color: #fff;
    text-decoration: none;
    opacity: 1;
}

.close-white:not(:disabled):not(.disabled) {
    cursor: pointer;
}

button.close-white {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
}

.clickable-element {
    cursor: pointer;
}

.hide-me {
    display: none;
}

.main-card-color {
    border-color: #027196 !important;
    color: #0099cc !important;
}

/* ==================================================
  Admin / Customers > Pagination Custom
  ================================================== */

.pagination > li > a {
    color: #0099cc;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    z-index: 3;
    color: white;
    background-color: #0099cc;
    border-color: #027196;
}

.page-item.active .page-link {
    background-color: #0099cc;
    border-color: #027196;
}

.table-row {
    cursor: pointer;
}

/* ==================================================
  Form Validator
  ================================================== */

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline {
    color: #28a745
}

.has-success .form-control {
    border-color: #28a745;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-success .form-control:focus {
    border-color: #28a745;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168
}

.has-success .input-group-addon {
    color: #28a745;
    background-color: #dff0d8;
    border-color: #28a745
}

.has-success .form-control-feedback {
    color: #28a745
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline {
    color: #dc3545
}

.has-error .form-control {
    border-color: #dc3545;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075)
}

.has-error .form-control:focus {
    border-color: #dc3545;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483
}

.has-error .input-group-addon {
    color: #dc3545;
    background-color: #f2dede;
    border-color: #dc3545
}

.has-error .form-control-feedback {
    color: #dc3545
}